<footer class="footer">
  <div>
    <a href="" title=""
      ><img src="./assets/images/ico-arrow.svg" alt="" title=""
    /></a>
  </div>

  <div class="footer__div-small">
    <small>&copy2017 </small>
    <small>We ❤︎ components</small>
  </div>
  <nav class="footer__nav-menu">
    <ul>
      <li><a href="" title="">Articles</a></li>
      <li><a href="" title="">Books</a></li>
      <li><a href="" title="">Events</a></li>
      <li><a href="" title="">Reasons</a></li>
      <li><a href="" title="">Tips</a></li>
    </ul>
  </nav>
  <nav class="footer__nav-social">
    <ul>
      <li><a href="" title="">Twitter</a></li>
      <li><a href="" title="">Instagram</a></li>
      <li><a href="" title="">Mastodon social</a></li>
    </ul>
  </nav>
</footer>
