<!-- FOOTER 
Esta sección la he dividido de la siguiente manera: Un "link" al principio de la página, dos "navs" que contienen los links a redes sociales y otros elementos de interés, así como un "div" para la pequeña información del copy, la cual no tiene mucha importancia). 
Observando el diseño en distintos dispositivos, se ha decidido incluir en un mismo "div" el link para volver al principio de la página y el menú con elementos de interés, ya que están posicionados igual uno del otro en todos los tamaños de pantalla. -->

<footer class="footer">
  <div class="footer__div">
    <a href="#header" title="Vuelve al principio de la página"
      ><div class="footer__div--arrow">
        <img
          src="./assets/images/ico-arrow.svg"
          alt="Vuelve al principio de la página"
          title="Vuelve al principio de la página"
        /></div
    ></a>
    <nav class="footer__div--nav-menu">
      <ul class="nav-menu__menu">
        <li>
          <a
            class="link"
            href="https://adalab.es"
            title="Artículos"
            target="_blank"
            >Articles</a
          >
        </li>
        <li>
          <a
            class="link"
            href="https://adalab.es"
            title="Libros"
            target="_blank"
            >Books</a
          >
        </li>
        <li>
          <a
            class="link"
            href="https://adalab.es"
            title="Eventos"
            target="_blank"
            >Events</a
          >
        </li>
        <li>
          <a
            class="link"
            href="https://adalab.es"
            title="Razones"
            target="_blank"
            >Reasons</a
          >
        </li>
        <li>
          <a
            class="link"
            href="https://adalab.es"
            title="Consejos"
            target="_blank"
            >Tips</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <nav class="footer__nav-social">
    <ul class="footer__nav-social--social">
      <li>
        <a class="link" href="https://adalab.es" title="Twitter" target="_blank"
          >Twitter</a
        >
      </li>
      <li>
        <a
          class="link"
          href="https://adalab.es"
          title="Instagram"
          target="_blank"
          >Instagram</a
        >
      </li>
      <li>
        <a
          class="link"
          href="https://adalab.es"
          title="Mastodon.social"
          target="_blank"
          >Mastodon.social</a
        >
      </li>
    </ul>
  </nav>

  <div class="footer__div-small">
    <small class="small">&copy2017</small>
    <small class="small">We <span class="heart">❤︎</span> components</small>
  </div>
</footer>
