<header class="header" id="header">
  <nav>
    <a href="https://adalab.es" title="Nuestros servicios" target="_blank"
      ><div class="header__menu-icon">
        <img
          src="./assets/images/ico-menu.svg"
          alt="Menú de navegación"
          title="Nuestros servicios"
        /></div
    ></a>
  </nav>
  <div class="header__elements">
    <h1 class="header__elements--h1">Anonimous Proxy</h1>
    <h2 class="header__elements--h2">In hac habitasse platea dictumst.</h2>
    <a href="#reasons" title="Descubre nuestros servicios"
      ><div class="header__elements--scroll">
        <img
          src="./assets/images/ico-scroll-down.svg"
          alt="Descubre más de nosotros"
          title="Descubre más de nosotros"
        /></div
    ></a>
  </div>
</header>
