// fonts
$font-title: "Roboto Slab", serif;
$font-sec: "Roboto", sans-serif;

// colors
$color-cerulean: #0271bc;
$color-white: white;
$color-lightblue: #8ccbea;
$color-iceblue: #eff9ff;
$color-bright-orange: #f26002;
$color-greyish-brown: #4a4a4a;
$color-darkblue: #304268;
