.header {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  background: url("../images/cover.jpg") no-repeat;
  background-position: top center;
  background-size: cover;

  &__menu-icon {
    width: 44px;
    height: 44px;
    background-color: $color-cerulean;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 999;
  }
  &__elements {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    &--h1 {
      color: $color-white;
      font-family: $font-title;
      font-size: 42px;
      line-height: 55px;
      text-align: center;
      text-transform: uppercase;
      max-width: 400px;
      margin-bottom: 10px;
      @media all and (min-width: 768px) {
        font-size: 80px;
        line-height: 106px;
        max-width: 748px;
        margin-bottom: 20px;
      }
      @media all and (min-width: 1200px) {
        font-size: 100px;
        line-height: 132px;
        margin-bottom: 0px;
      }
    }
    &--h2 {
      color: $color-white;
      font-family: $font-sec;
      text-align: center;
      font-size: 16px;
      margin-bottom: 45px;
      @media all and (min-width: 768px) {
        font-size: 24px;
        margin-bottom: 30px;
      }
    }
    &--scroll {
      width: 45px;
      height: 45px;
      background-color: $color-white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-bottom: 53px;
      @media all and (min-width: 768px) {
        margin-bottom: 45px;
      }
      @media all and (min-width: 1200px) {
        margin-bottom: 13px;
      }
    }
  }
}
